<app-notification></app-notification>
<div class="ui grid">
  <div class="six wide column">
    <div class="ui segment">
      <a class="ui black  ribbon label">Create New Customer</a>
      <form class="ui form">
        <div class="ui mini input">
          <input type="text" name="name" placeholder="Customer Name" [(ngModel)]="name">
        </div>
        <div class="ui mini input">
          <input type="text" name="contact" placeholder="Contact Number [ Must Be Start With +94 ]" [(ngModel)]="contact"
                 (keyup.enter)="checkCustomer()">
        </div>
        <div style="text-align: right">
          <button class="ui button" type="submit" (click)="checkCustomer()">Submit</button>
        </div>
      </form>
      <div class="ui message" id="alert"
           [ngClass]="{'positive': response === 0,'negative':response === 1,'floating':response===2}" *ngIf="has_alert">
        <i class="close icon" (click)="hideError()"></i>
        <div class="header">
          {{res_title}}
        </div>
        <p>{{res_msg}}</p>
      </div>
    </div>
    <div class="ui card" *ngIf="duplicate.name !== ''">
      <div class="content">
        <img class="right floated mini ui image" src="../../../assets/user.png">
        <div class="header">
          {{duplicate.name}}
        </div>
        <div class="meta">
          Registered On : {{duplicate.regdate}}
        </div>
        <div class="description">
          This contact number ({{contact}}) is already registered.
          Would you like to update?
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic green button" (click)="createCustomer()">Update</div>
          <div class="ui basic red button" (click)="clear()">Decline</div>
        </div>
      </div>
    </div>
  </div>
  <div class="ten wide column">
    <div class="ui placeholder segment" id="cust_table">
      <div class="ui grid">
        <div class="nine wide column">
          <div class="ui label">
            <i class="address book icon"></i> All Customers - {{customer_list.length}} Found.
          </div>
        </div>
        <div class="seven wide column">
          <div class="ui icon input mini" style="width: 100%">
            <input type="text" placeholder="Search..." (keyup)="filterCustomers()" [(ngModel)]="filter">
            <i class="search icon"></i>
          </div>
        </div>
      </div>
      <table class="ui teal table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Contact</th>
          <th>Reg.Date</th>
          <th>Invoices</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cust of customer_list">
          <td>{{cust.name}}</td>
          <td>{{cust.contact}}</td>
          <td>{{cust.regdate}}</td>
          <td>{{cust.invoices}}</td>
          <td>
            <div class="ui vertical animated button mini" style="width: 50%" (click)="selectCustomer(cust)">
              <div class="hidden content">Edit</div>
              <div class="visible content">
                <i class="edit icon"></i>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th colspan="5">
            <div class="ui right floated pagination menu">
              <a class="icon item">
                <i class="left chevron icon"></i>
              </a>
              <a class="item">1</a>
              <a class="item">2</a>
              <a class="item">3</a>
              <a class="item">4</a>
              <a class="icon item">
                <i class="right chevron icon"></i>
              </a>
            </div>
          </th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
