<app-notification></app-notification>
<div class="ui grid">
  <div class="four wide column">
    <div class="ui segment">
      <a class="ui black  ribbon label">Add / Update Stock Items</a>
      <form class="ui form">
        <div class="ui mini input">
          <input type="text" name="id" placeholder="Item ID" [(ngModel)]="id" (keyup)="checkID()">
        </div>
        <div class="ui mini input">
          <input type="text" name="name" placeholder="Name" [(ngModel)]="name">
        </div>
        <div class="ui mini input">
          <input type="text" name="qty" placeholder="Quantity" [(ngModel)]="qty">
        </div>
        <div class="ui divider"></div>
        <div class="ui mini input">
          <input type="text" name="cost" placeholder="Purchase Cost" [(ngModel)]="cost">
        </div>
        <div class="ui mini input">
          <input type="text" name="price" placeholder="Selling Price" [(ngModel)]="price">
        </div>
        <div class="ui mini input">
          <input type="text" name="expire" placeholder="Expire Date   [YYYY/MM/DD]" [(ngModel)]="expire"
          (keyup.enter)="saveItem()">
        </div>
        <button class="ui button" *ngIf="showDuplicate === false" (click)="saveItem()">
          Save Item
        </button>
        <div class="ui divider"></div>
      </form>
    </div>
    <div class="ui card" style="width: 100%" *ngIf="showDuplicate">
      <div class="content">
        <h4 class="ui sub header" style="font-weight: bold;text-align: center">Item Code Already Registered!</h4>
        <div class="description" style="text-align: center">
          Please confirm your update or decline this request safely.
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic green button" (click)="saveItem()">Update</div>
          <div class="ui basic red button" (click)="clear()">Decline</div>
        </div>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui placeholder segment" id="cust_table">
      <div class="ui grid">
        <div class="twelve wide column">
          <div class="ui label">
            <i class="address book icon"></i> All Items - {{itemList.length}} Found.
          </div>
        </div>
        <div class="four wide column">
          <div class="ui icon input mini" style="width: 100%">
            <input type="text" placeholder="Search By Name" (keyup)="filter()" [(ngModel)]="key">
            <i class="search icon"></i>
          </div>
        </div>
      </div>
      <table class="ui teal table">
        <thead>
        <tr>
          <th>Item ID</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Sold</th>
          <th>Purchase Cost</th>
          <th>Selling Price</th>
          <th>Reg.Date</th>
          <th>Last Update</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of itemList">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.qty}}</td>
          <td>{{item.sold}}</td>
          <td>{{item.cost}}</td>
          <td>{{item.price}}</td>
          <td>{{item.reg}}</td>
          <td>{{item.upd}}</td>
          <td>
            <div class="ui vertical animated button mini" style="text-align: center" (click)="selectItem(item)">
              <div class="hidden content">Edit</div>
              <div class="visible content">
                <i class="edit icon"></i>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th colspan="9">
            <div class="ui right floated pagination menu">
              <a class="icon item">
                <i class="left chevron icon"></i>
              </a>
              <a class="item">1</a>
              <a class="item">2</a>
              <a class="item">3</a>
              <a class="item">4</a>
              <a class="icon item">
                <i class="right chevron icon"></i>
              </a>
            </div>
          </th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
