form{
  margin-top: 20px;
}
.input,dropdown{
  width: 100%;
  margin-bottom: 5px;
}
.button{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
#cust_table{
  display: flex;
  justify-content: flex-start;
  height: 85vh;
}
tbody {
  display: block;
  height: 55vh;
  overflow: auto;
}
thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
table {
  width: 400px;
}
