.notifications {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  min-width: 400px;
  max-width: 400px;
}

.notification {
  margin: 5px;
  border-radius: 5px;
  color: #fff;
  overflow: hidden;
}

.title {
  background: rgba(0, 0, 0, 0.6);
  padding-left: 10px;
  font-weight: bold;
}

.message {
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.info {
  background-color: rgba(189, 189, 189, 0.9);
}

.success {
  background-color: rgba(27, 158, 119, 0.9);
}

.warning {
  background-color: rgba(217, 95, 2, 0.9);
}

.error {
  background-color: rgba(246, 71, 71, 0.9);
}


