<div class="ui selection dropdown mini">
  <input type="hidden" name="gender">
  <i class="dropdown icon"></i>
  <div class="default text">Gender</div>
  <div class="menu mini">
    <div class="item mini" data-value="1">Male</div>
    <div class="item mini" data-value="0">Female</div>
  </div>
</div>
