<app-notification></app-notification>
<div class="ui middle aligned center aligned grid" id="main-top">
  <div class="column">
    <h2 class="ui header grey" style="margin-top: 100px">
      Welcome Back!
      <div class="sub header grey">Please log into your account.</div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked secondary  segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address" [(ngModel)]="username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password" [(ngModel)]="password" (keyup.enter)="checkLogin()">
          </div>
        </div>
        <div class="ui fluid large teal submit button" (click)="checkLogin()">Login</div>
      </div>
    </form>

    <div class="ui message">
      Forgot Password? <a routerLink="/public/sign-up"> Recover Now.</a>
    </div>
  </div>
</div>
