<div class="ui two column grid">
  <div class="row">
    <div class="eight wide column">
      <div class="ui segment" style="height: 85vh">
        <h2 class="ui center aligned icon header">
          INVOICE
        </h2>
        <div class="ui tiny header center aligned" style="margin-top: -10px;">
          ABC Solutions Point Of Sale<br/>
        </div>
        <div class="ui two column grid">
          <div class="row">
            <div class="eight wide column">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="four wide column">

    </div>
  </div>
</div>
