.cust {
  width: 100%;
  margin-bottom: 5px;
}

.grid {
  height: 90vh;
}

.list {
  border-color: transparent;
}

.toggle {
  background: transparent;
}
.tbody {
  display: block;
  height: 55vh;
  overflow: auto;
}
.thead, .tbody .tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
table {
  width: 400px;
}

