<app-notification></app-notification>
<div class="ui two column grid">
  <div class="row">
    <div class="five wide column">
      <div class="ui segment">
        <a class="ui black  ribbon label" style="margin-bottom: 7px">Create New Invoice</a>
        <form class="ui form">
          <div class="ui action input mini" style="width: 85%">
            <input type="text" placeholder="Search By Names" name="key" (keyup)="filterItems()" [(ngModel)]="filter">
            <button class="ui icon button">
              <i class="search icon"></i>
            </button>
          </div>
        </form>
      </div>
      <table class="ui compact table">
        <thead class="thead">
        <tr>
          <th style="width: 40%">Item</th>
          <th style="width: 20%">Cost</th>
          <th style="width: 20%">Price</th>
          <th style="width: 10%">Qty</th>
          <th style="width: 10%"></th>
        </tr>
        </thead>
        <tbody class="tbody">
        <tr *ngFor="let item of item_list" class="tr">
          <td style="width: 40%">{{item.name}}</td>
          <td style="width: 20%">{{item.cost}}</td>
          <td style="width: 20%">{{item.price}}</td>
          <td style="width: 10%">{{item.qty}}</td>
          <td style="width: 10%"><i class="arrow alternate circle right icon" style="cursor: pointer"
                                    (click)="addToCart(item)"></i></td>
        </tr>
        </tbody>
      </table>
      <div style="text-align: center">
        <a class="ui basic label">Show All Invoices</a>
      </div>
    </div>
    <div class="seven wide column">
      <table class="ui very basic collapsing celled table">
        <thead class="thead">
        <tr class="tr">
          <th style="width: 25%">Item</th>
          <th style="width: 15%">P.Cost</th>
          <th style="width: 20%">Price</th>
          <th style="width: 30%">Quantity</th>
          <th style="width: 10%"></th>
        </tr>
        </thead>
        <tbody class="tbody">
        <tr class="tr" *ngFor="let item of cart">
          <td style="width: 25%">
            <h4 class="ui image header">
              <div class="content">
                {{item.name}}
                <div class="sub header">{{item.expire}}
                </div>
              </div>
            </h4>
          </td>
          <td style="width: 15%">
            {{item.cost}}
          </td>
          <td style="width: 20%">
            <div class="ui input transparent">
              <input type="text" value="{{item.price}}" [(ngModel)]="item.price" (keyup)="itemsubTotal(item)">
            </div>
          </td>
          <td style="width: 30%">
            <div class="ui input transparent">
              <input type="text" style="text-align: center" [value]="item.qty" [(ngModel)]="item.qty"
                     (keyup)="checkQuantity(item)">
            </div>
            <button class="ui secondary basic button mini left floated" (click)="removeQty(item)">-</button>
            <button class="ui primary basic button mini right floated" (click)="addQty(item)">+</button>
          </td>
          <td style="width: 10%">
            <button class="ui icon button mini" (click)="removeItem(item)">
              <i class="trash icon"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="four wide column">
      <div class="ui grid" style="height: 50px;margin-top: 20px">
        <div class="eight wide column">
          <div class="ui medium header">Bill</div>
        </div>
        <div class="eight wide column" style="text-align: right">
          <div class="ui medium header">Today</div>
        </div>
      </div>
      <div class="sixteen wide column">
        <div class="ui divider"></div>
        <div class="ui label" style="margin-bottom: 7px">
          Customer Information
        </div>
        <form class="ui form">
          <div class="ui mini input cust">
            <input type="text" placeholder="Contact Number" name="contact" (keyup.enter)="checkCustomer()"
                   [(ngModel)]="cu_contact">
          </div>
          <div class="ui mini input cust">
            <input type="text" placeholder="Customer Name" name="name" [(ngModel)]="cu_name">
          </div>
          <a class="ui basic label"
             style="width: 100%;text-align: center">{{returning_customer ? 'Returning Customer' : 'Customer Not Found!' }}</a>
          <div class="ui divider"></div>
        </form>
      </div>
      <div class="ui grid" style="height: 50px;margin-top: 10px">
        <div class="eight wide column">
          <h4 class="ui header">
            Sub Total
          </h4>
        </div>
        <div class="eight wide column" style="text-align: right">
          <h4 class="ui header teal">
            {{total}} LKR
          </h4>
        </div>
        <div class="eight wide column">
          <h4 class="ui header">
            Taxes
          </h4>
        </div>
        <div class="eight wide column" style="text-align: right">
          <h4 class="ui header teal">
            0.00 LKR
          </h4>
        </div>
        <div class="eight wide column">
          <h3 class="ui header">
            Total
          </h3>
        </div>
        <div class="eight wide column" style="text-align: right">
          <h3 class="ui header teal">
            {{total}} LKR
          </h3>
        </div>
        <div class="sixteen wide column" style="text-align: right">
          <div class="ui divider"></div>
        </div>
        <div class="sixteen wide column">
          <div class="ui form">
            <div class="inline fields">
              <!--              <label>Paid By</label>-->
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency" checked="checked" (change)="togglePayment('Cash')">
                  <label>Cash Payment</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency" (change)="togglePayment('card')">
                  <label>Card Payment</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sixteen wide column" style="text-align: center">
          <div class="ui right action input">
            <button class="ui teal labeled icon button" (click)="createInvoice()">
              Print Invoice
              <i class="print icon"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui basic modal">
  <div class="ui icon header">
    <i class="archive icon"></i>
    Invoice Generated!
  </div>
  <div class="content">
    <p>Would you like to share this invoice with your customer via whatsapp?</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button" (click)="sendWhatsapp()">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>
