<div class="ui pointing menu teal inverted">
  <div class="header item" routerLink="/index/dash" style="cursor: pointer">
    ABC Solutions - Point Of Sale
  </div>
  <a class="item active" (click)="toggleClass(items[0])" [ngClass]="{'active': items[0].active}"
     routerLink="/index/invoice">
    <i class="file alternate icon"></i>
    New Invoice
  </a>
  <a class="item active" (click)="toggleClass(items[1])" [ngClass]="{'active': items[1].active}"
     routerLink="/index/customers">
    <i class="address book icon"></i>
    Customers
  </a>
  <a class="item" (click)="toggleClass(items[2])" [ngClass]="{'active': items[2].active}"
     routerLink="/index/items">
    <i class="warehouse icon"></i>
    Stock Manager
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <div class="item">
      <button class="ui right labeled icon button" routerLink="/sign-in">
        <i class="right arrow icon"></i>
        Log Out
      </button>
    </div>
  </div>
</div>
<div class="ui segment" style="margin: 5px">
  <router-outlet></router-outlet>
</div>
